@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #2f4f1c;
    --secondary-color: #fffefe; 
    --text-color: #ffffff;
    --background-color: #f4f4f4; 
}

* {
    font-family: 'Montserrat', sans-serif;
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body { 
    min-height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}

