:root {
    --primary-color: #2f4f1c;
    --secondary-color: #fffefe; 
    --text-color: #ffffff; 
}

* {
    font-family: 'Montserrat', sans-serif;
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url('../images/bg_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.4); 
    z-index: -1;
}
