body {
    font-family: 'Inter', sans-serif;
}
.leaflet-marker-icon {
    transition: filter 0.3s ease-in-out;
}
.leaflet-marker-icon.selected {
    filter: hue-rotate(290deg) brightness(1.1) saturate(2);
}

.custom-alert {
    display: none; 
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.step {
    display: none; 
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.step.active {
    display: block; 
    opacity: 1;
}